section {
  padding: 1rem;
  width: 100%;
  /* border: 1px solid salmon; */
}

body {
  justify-content: start;
}

.experience-list {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
