section {
  padding: 1rem;
  width: 100%;
  /* border: 1px solid salmon; */
}

body {
  justify-content: start;
  flex-direction: column;
}

h1 {
  width: 100%;
  text-align: center;
}

.experience-list {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 1270px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  .experience-list {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .experience-list-item {
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
