:root {
  --font-base: "Open Sans", sans-serif;
  --font-highlight: "Ubuntu", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(26, 26, 23);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: rgb(235, 230, 192);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  body {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }

  .social {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 100% !important;
  }

  .social-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .year {
    padding-bottom: 1rem;
  }

  .profile-description {
    height: 100% !important;
    display: flex;
    justify-content: center;
  }

  .description {
    width: 25rem;
  }

  .content {
    height: 100% !important;
    justify-content: center;
  }

  .content-list-item:hover {
    box-shadow: 10px 5px 5px white;
  }
}
