body {
  justify-content: start;
}

.content {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-content {
  min-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(235, 230, 192);
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(235, 230, 192);
  padding: 1rem;
  width: 8rem;
  text-align: center;
}

.item-img {
  width: 3rem;
}
